In [1]:
a = 10
b = 8
c = 11

In [3]:
if a == 10 and b == 8:
    print('that is true')

that is true

In [6]:
if not a == 10:
    print('a is ten')

In [9]:
a = 10
if a:
    print('print')

print

In [10]:
a = [1, 2, 3]
if a:
    print('print')

print

In [12]:
a = []
if a:
    print('print')

# if, else

In [13]:
a = 10
if a % 2 == 0:
    print(a / 2)
else:
    print(a + 1)

5.0

In [17]:
a = 11
if a % 2 == 0:
    print(a / 2)
else:
    print(a + 1)

12

### 중첩조건문

In [18]:
a = 10
b = 9
c = 8

if a == 10:
    if c == 8:
        if b == 8:
            print('a is ten and b is 8')
        else:
            print('a is ten and b is not 8')

a is ten and b is not 8

# 반복문

In [20]:
a = [1, 10, 9, 24, 566, 23, 45, 67, 89]

i = 0
while i < len(a):
    print('value: ', a[i], ', index: ', i)
    i += 1

print('hahah')

value:  1 , index:  0
value:  10 , index:  1
value:  9 , index:  2
value:  24 , index:  3
value:  566 , index:  4
value:  23 , index:  5
value:  45 , index:  6
value:  67 , index:  7
value:  89 , index:  8
hahah

In [23]:
a = [1, 10, 9, 24, 25, 26]

i = 0
while i < len(a):
    if a[i] > 20:
        print(a[i])
    i += 1

24
25
26

In [26]:
a = [1, 10, 9, 24, 25, 26]

i = 0
while i < len(a):
    if a[i] % 2:
        print(a[i])
    else:
        print(a[i] / 2)
    i += 1

1
5.0
9
12.0
25
13.0

## break

In [29]:
a = [1, 10, 9, 24, 25, 26]

i = 0
while i < len(a):
    if a[i] > 20:
        break
    
    print(a[i])
    
    i += 1
    
print('hahah')

1
10
9
hahah

## continue

In [30]:
a = 7
while a > 0:
    a -= 1
    if a == 5:
        continue
    print(a)

6
4
3
2
1
0

### 1 - 100 더하기

In [33]:
num = 1
_sum = 0

while num <= 100:
    _sum += num
    num += 1
    
print(_sum)

5050

# for

In [34]:
a = [1, 2, 4, 3, 5]
for i in a:
    print(i, i * 2)
print('hahah')

1 2
2 4
4 8
3 6
5 10
hahah

In [35]:
a = [1, 2, 4, 3, 5]
for number in a:
    print(number, number * 2)
print('hahah')

1 2
2 4
4 8
3 6
5 10
hahah

In [38]:
a = [1, 10, 3 , 4, 5]
for num in a:
    if num % 2 == 0:
        print(num / 2)
    else:
        print(num + 1)

2
5.0
4
2.0
6

In [43]:
a = {'korea': 'seoul', 'Japan': 'tokyo', 'Canada': 'ottawa'}
for k in a:
    print(k, a[k])

korea seoul
Japan tokyo
Canada ottawa

In [44]:
for key in a:
    print(key)

korea
Japan
Canada

In [45]:
for value in a.values():
    print(value)

seoul
tokyo
ottawa

In [46]:
list(a.items())

[('korea', 'seoul'), ('Japan', 'tokyo'), ('Canada', 'ottawa')]

In [47]:
for key, value in a.items():
    print(key, value)

korea seoul
Japan tokyo
Canada ottawa

In [49]:
a = [1, 2, 3, 4, 5]
for index, num in enumerate(a):
    if index > 3:
        print(index, num)

4 5

In [51]:
a = [100, 90, 80, 70, 60, 50]
for num in a:
    if num < 80:
        break
        
    print(num)

100
90
80

In [54]:
a = [100, 90, 80, 70, 60, 50]
for num in a:
    if num >= 60 and num <= 70:
        continue
    print(num)

100
90
80
50

## loop 중첩

In [56]:
a = [1, 2, 4]
for i in a:
    for j in a:
        print(i * j)

1
2
4
2
4
8
4
8
16

In [60]:
# 구구단
x = [2, 3, 4, 5, 6, 7, 8 ,9]
y = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in x:
    for j in y:
        print(i, 'x', j, '=', i*j)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

## collection 의 길이

In [61]:
a = [1, 2, 3, 4, 5]
len(a)

5

## range

In [65]:
list(range(101))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [64]:
a =list(range(1, 101))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [66]:
list(range(1, 101, 5))

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

In [69]:
list(range(5, 101, 5))

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

## 연습문제

In [71]:
x = 2
while x <= 9:
    y = 1
    while y <= 9:
        print(x, 'x', y, '=', x*y)
        y += 1
    x += 1

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [73]:
nums = list(range(1, 101))
for x in nums:
    if x % 2 == 0 or x % 11  == 0:
        print(x)

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30
32
33
34
36
38
40
42
44
46
48
50
52
54
55
56
58
60
62
64
66
68
70
72
74
76
77
78
80
82
84
86
88
90
92
94
96
98
99
100

In [74]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
a.sort()
a[0], a[-1]

(1, 99)

In [75]:
_min = a[0]
for x in a:
    if x < _min:
        _min = x
print(_min)

1

In [76]:
_max = a[0]
for x in a:
    if x > _max:
        _max = x
print(_max)

99

In [78]:
_min = a[0]
_max = a[0]
for x in a:
    if x < _min:
        _min = x
    if x > _max:
        _max = x

print(_min, _max)

1 99

In [79]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]

In [82]:
# while
i = 0
_sum = 0

while i < len(a):
    _sum += a[i]
    i += 1

print(_sum / len(a))

37.0

In [83]:
# for
_sum = 0
for x in a :
    _sum += x
    
print(_sum / len(a))

37.0

### 내장함수

In [86]:
a = [1, 2, 3, 4]
length = len(a)
print(length)

summation = sum(a)
print(summation)

4
10

In [87]:
def add(x, y):
    n = x + y
    return n

In [89]:
c = add(30, 300)
print(c)

330

In [90]:
def test():
    print('haha')
    print('good')
    
    return 100

a = test()
print(a)

haha
good
100

In [92]:
def add(x, y= 10, z= 5):
    a = x + y + z
    return a

add(10, 20)

35

In [94]:
print(1, 2, 3, sep='!', end='%%%')
print(2, 3, 4, sep='p')

1!2!3%%%2p3p4

In [98]:
def weird_multiply(x,y):
    if x > 10:
        return x * y
    
    return (x + 2) * y

weird_multiply(1, 5)

15

In [101]:
def weird_multiply(x,y):
    if x > 10:
        return
    
    print(x + y)
    return (x + 2) * y

c = weird_multiply(12, 5)
print(c)

None

In [104]:
def weird_multiply(x,y):
    if x > 10:
        return x * y
    # reutrn 생략

c = weird_multiply(2, 5)
print(c)

None

In [106]:
def add_mul(x, y):
    s = x + y
    m = x * y
    
    return s, m

c = add_mul(20, 3)
print(type(c))
print(c)

<class 'tuple'>
(23, 60)

In [109]:
num1 = 10
num2 = 30

def test(num1, num2):
    print(num1, num2)
    return num1 + num2

test(30, 40)
print(num1, num2)

30 40
10 30

## 가변길이 인자

In [115]:
def test(*args): # arguments
    for item in args:
        print(item)

test(10, 20, 30)

10
20
30

## 키워드 파라미터

In [121]:
def test2(**kwargs): # key word arguments
    for key, value in kwargs.items():
        print('key:', key, ', value:', value)
        
test2(a=1)

key: a , value: 1

## 문자열 포맷함수

In [131]:
a = '오늘온도: {today_temp}도, 강수확률은 {today_prob}%'.format(today_temp=20, today_prob=50)
print(a)

오늘온도: 20도, 강수확률은 50%

# 람다lambda 함수

In [135]:
def s2(x):
    return x**2

s2(5)

25

In [133]:
s = lambda x:x**2
s(5)

25

In [137]:
def add(x, y):
    return x + y

add2 = lambda x, y:x+y
add2(10,20)

30

In [140]:
def str_len(s):
    return len(s)

str_len('test')

4

In [143]:
strings = ['bob', 'charles', 'alexander', 'teddy']
strings.sort()

print(strings)

['alexander', 'bob', 'charles', 'teddy']

In [142]:
strings = ['bob', 'charles', 'alexander', 'teddy']
strings.sort(key=str_len)

print(strings)

['bob', 'teddy', 'charles', 'alexander']

In [144]:
strings = ['bob', 'charles', 'alexander', 'teddy']
strings.sort(key=lambda s:len(s))

print(strings)

['bob', 'teddy', 'charles', 'alexander']

## filter, map, reduce

In [149]:
def even(n):
    return n % 2 == 0

even(2)

True

In [151]:
nums = [1, 2, 3, 6, 8, 9]

list(filter(even, nums))

[2, 6, 8]

In [154]:
nums = [1, 2, 3, 6, 8, 9, 10, 11, 13, 15]

list(filter(lambda n:n%2==0, nums))

[2, 6, 8, 10]

In [157]:
# map
# 주어진 리스트, 리스트의 제곱을 한 숫자로 새로운 리스트

nums = [1, 2, 3, 6, 8, 9, 10, 11, 13, 15]
list(map(lambda n:n**2, nums))

[1, 4, 9, 36, 64, 81, 100, 121, 169, 225]

In [158]:
list(map(even, nums))

[False, True, False, True, True, False, True, False, False, False]

In [160]:
list(map(lambda n:n%2==0, nums))

[False, True, False, True, True, False, True, False, False, False]

In [161]:
# reduce

import functools

a = [1, 3, 5, 8]
# 리스트 내의 모든 숫자의 합
functools.reduce(lambda x, y:x+y, a)

17

In [162]:
# reduce

import functools

a = [1, 3, 5, 8]
functools.reduce(lambda x, y:x*y, a)

120

## 연습문제

In [163]:
def mean(nums):
    _sum = 0
    for i in nums:
        _sum += i
        
    return _sum / len(nums)

print(mean([1, 2, 3]))
print(mean([1, 2, 3, 4, 5]))
print(mean([1, 2, 3.0, 3.9, 8.7]))

2.0
3.0
3.72

In [164]:
def mean(nums):
#     _sum = 0
#     for i in nums:
#         _sum += i
        
#     return _sum / len(nums)
    return sum(nums) / len(nums)

print(mean([1, 2, 3]))
print(mean([1, 2, 3, 4, 5]))
print(mean([1, 2, 3.0, 3.9, 8.7]))

2.0
3.0
3.72

In [167]:
# 소수판별

def is_prime(num):
    for i in range(2, num):
        if num % i == 0:
            return False
    return True

print(is_prime(100))
print(is_prime(89))
print(is_prime(17))
print(is_prime(3))

False
True
True
True

In [169]:
def num_prime(num):
    count = 0
    for i in range(2, num+1):
        if is_prime(i):
            count += 1
    return count

print(num_prime(7))
print(num_prime(5))
print(num_prime(100))

4
3
25