# list, tuple

list - mutable (생성된 후에 변경 가능)
tuple - immutable (생성된 후에 변경 불가능)

In [1]:
a = []
print(a)

[]

In [2]:
a = [1,2,3,5,10]
print(a)

[1, 2, 3, 5, 10]

In [3]:
a = ['korea', 'canada', 1, 23, [34, 56]]
print(a)

['korea', 'canada', 1, 23, [34, 56]]

In [5]:
a = 'hello world'
b = list(a)
print(b)

c = (1,2,3)
d = list(c)
print(d)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
[1, 2, 3]

In [6]:
a = 'hello world nice weather'
b = a.split()

print(b)

['hello', 'world', 'nice', 'weather']

In [7]:
a = [1, 2, 3, 4, 5, 6]
print(a[2])
print(a[5])
print(a[-1])

3
6
6

In [9]:
a = 'hello world'
print(a[0])

b = 'jello world'
c = 'j' + a[1:]

d = a.replace('h', 'j')
print(d)
print(a)

h
jello world
hello world

In [11]:
a = [1, 2, 3, 4, 5]
a[0] = 100
a[-1] = 90

print(a)

[100, 2, 3, 4, 90]

In [15]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
print(a[4:7])
print(a[:7])
print(a[3:])
print(a[:])

a[1:7:2]

[5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

[2, 4, 6]

In [17]:
a = [1, 2, 3, 4, 5]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

In [20]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

# [1, 2, 3, 4, 5 , 6, 7, 8, 9, 10] 

# a.extend(b)
# print(a)

a += b
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
a = [1 ,3, 4, 5, 6]
a.insert(1, 40)

print(a)

[1, 40, 3, 4, 5, 6]

In [23]:
a = [1, 2, 30, 40, 4 , 5]
a.remove(30)

print(a)

[1, 2, 40, 4, 5]

In [25]:
a = [1, 2, 3, 4, 5]
d = a.pop(2)

print(a)
print(d)

[1, 2, 4, 5]
3

In [26]:
a = [2, 6, 7, 9, 10]
a.index(9)

3

In [29]:
a = [1, 2, 3, 4, 5, 10]
b = 10

c = b in a
print(c)

True

In [33]:
a = [9, 10, 7, 19, 1, 2, 20, 21, 7, 8]
# a.sort(reverse=True)

b = sorted(a)
print(a)
print(b)

[9, 10, 7, 19, 1, 2, 20, 21, 7, 8]
[1, 2, 7, 7, 8, 9, 10, 19, 20, 21]

In [35]:
a ,b = 100, 200
print(a, b)

100 200

In [36]:
a = 5
b = 4

print(a, b)

5 4

In [42]:
a = 5
b = 4

print(a, b)

# temp = a
# a = b
# b = temp

a, b = b, a

print(a, b)

5 4
4 5

# dictionary

In [43]:
a = [0, 1, 2, 3, 4, 10, 100, 200, 300]
print(a[0])
print(a[4])

0
4

In [50]:
a = {'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA' : 'Washingtion D.C'}
print(a)

b = {0:1, 1:6, 7:9, 8:10}
print(b[0])

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washingtion D.C'}
1

In [53]:
a = {'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA' : 'Washingtion D.C'}

a['Japan'] = 'Tokyo'
a['China'] = 'Beijing'

print(a)

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washingtion D.C', 'Japan': 'Tokyo', 'China': 'Beijing'}

In [55]:
a = {'a' : 1, 'b' : 2, 'c' : 3}
b = {'a' : 2, 'd' : 4, 'e' : 5}

a.update(b)

print(a)

{'a': 2, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [58]:
a = {'a' : 1, 'b' : 2, 'c' : 3}
print(a)

# a.pop('b')
del a['b']
print(a)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'c': 3}

In [61]:
print(a)
a.clear()
print(a)

{'a': 1, 'c': 3}
{}

In [62]:
a = {'a' : 1, 'b' : 2, 'c' : 3}
print(a)

'b' in a
'd' in a

{'a': 1, 'b': 2, 'c': 3}

False